@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&family=Noto+Serif+HK&family=Paytone+One&family=Roboto+Slab:wght@500;700&family=Roboto:wght@300;700&display=swap');
:root{

--font-family1: 'Libre Baskerville', serif;
--font-family2: 'Noto Sans TC', sans-serif;
--font-family3: 'monospace', serif;
--font-famliy4: serif;

}

:root{
--title-font:8px;
--title-font-1:10px;
--content-font-2:12px;
--minititle-font-3:16px;
--header-font-4:2rem;
--title-font-5:24px;
}
body{
  margin: 0;
  padding: 0;
}
 
.cvcontainer > h{
    display: flex;
    font-family:var(--font-family2);
    color:black;
    font-size: var(--header-font-4);
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.cvcontainer>h2{
 font-family: var(--font-family1);
 font-weight: bold;
 font-size: 22px;
 margin-bottom: 0.5rem;

}
.cvcontainer >li{
 font-family: var(--font-family3);
 font-weight: none;
 font-size: 14px;
 margin-bottom: 0.5rem;
}
.cvcontainer > p1{
font-family:var(--font-family1);
font-size: 18;
margin-bottom: 0.25rem;
}
.cvcontainer > p{
font-size: 18px;
font-family: var(--font-family3);
    }
.personalphoto{
    position: absolute;
    top: 260px;
    height: 175px;
    width: 150px;
    float:left;
    margin: 0;
    background-color: #333300;
    z-index: 10;
}
.personalphoto>img{
    object-fit: contain;
    height: 175px;
    width: 150px;
}
@media  (max-width: 800px){
     .personalphoto{
        display: none;
    }  
    .timeslot {
        display: none;
    }
}
