.MainContainerBox{
    display: block;
    height: 100%;
    width: 100;
    padding: 0;
    margin: 0;  
}

.SelectBar{
    display: flex;
    position: relative;
    height:10vh;
    align-items: center;
    justify-content: center;
}

.clickscolor{
    display: flex;
    background-image: linear-gradient(to left, #FCB92B, #F51720);
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 85px;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    align-items: center;  /* vertical direction */
    justify-content: center; /*horizontal direction*/ 
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: opacity 0.25s;
}
.clickscolor:hover{
    opacity: 0.75;
}
.go{
    color : white;
    font-family: "Anton", serif;
    font-weight: bold;
    font-style: normal; 
    padding: 0;
    margin: 0;
    display: flex;
}
.stop{
    color: black;
    font-family: "Anton", serif;
    font-weight: bold;
    font-style: normal; 
    padding: 0;
    margin: 0;
    display: flex;
}
.clicks{
    display: flex;
    height: 35px;
    width: 85px;
}
.midclicks{
    border: none !important;
}

:root{
    --background-origin: #071330;

}
.Elifecontainer{
    display: block;
    height: 100vh;
    width: 100%;
   
}
.colortest{
color:red;
    
}


@media (min-width: 640.1px)and (  max-width: 1000px){
    .Submovies_container{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 640px ){
    .Submovies_container{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

}
