.MainContainerBox{
    display: block;
    height: 100%;
    width: 100;
    padding: 0;
    margin: 0;  
}

.SelectBar{
    display: flex;
    position: relative;
    height:10vh;
    align-items: center;
    justify-content: center;
}

.clickscolor{
    display: flex;
    background-image: linear-gradient(to left, #FCB92B, #F51720);
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 85px;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    align-items: center;  /* vertical direction */
    justify-content: center; /*horizontal direction*/ 
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: opacity 0.25s;
}
.clickscolor:hover{
    opacity: 0.75;
}
.go{
    color : white;
    font-family: "Anton", serif;
    font-weight: bold;
    font-style: normal; 
    padding: 0;
    margin: 0;
    display: flex;
}
.stop{
    color: black;
    font-family: "Anton", serif;
    font-weight: bold;
    font-style: normal; 
    padding: 0;
    margin: 0;
    display: flex;
}
.clicks{
    display: flex;
    height: 35px;
    width: 85px;
}
.midclicks{
    border: none !important;
}

:root{
    --background-origin: #071330;

}
.Elifecontainer{
    display: block;
    height: 100vh;
    width: 100%;
   
}
.colortest{
color:red;
    
}
/*
.Smt{
color:red;
}
 */ 
/*
.movies_search_wrapper{
    position: absolute;
    display: flex;
    height: 35px;
    width: 200px;
    right: 150px;
}

.searchbutton{
    height: 35px;
    width: 35px;
    background-color: yellow;
    color: red; 
}

.Submovies_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    padding: 0;
    margin:0;
}

.content{
    position: relative;
    display: block;
    width: 300px;
    height: 400px;
    background-color:red;
    text-align: center;  
    background-image: url(../homepic/IMG_0869.JPG);
   
    box-shadow : 5px 5px #171515; 
    padding: -5px;
    border-radius: 5px;

}
.backgroundimg{
position: absolute;
left: 0px;
width: 300px;
height: 400px;
object-fit: cover;
justify-content: center;
align-items: center;
border-radius: 5px;

}

.shawbox{
position: absolute;
bottom: 0;
height: 100px;
width: 100%;
background:linear-gradient(to bottom, #171515 50%, #171515 100%) !important;
opacity: 0.8;

}
.star{
    position: absolute;
    height:50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StarDetail{
color: #fc2e20;
padding: 0;
margin: 0;
}
.label{
    position: absolute ;
    bottom: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.label:hover{
    color: yellow;
    opacity: 0.8;
}

.clickblock{
    text-decoration: none;
    color: white;
    
}


.textdetail {
    color: #ffffff ;
    opacity: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
}
.textdetail:hover{
    color: yellow;
    opacity: 0.8;
}

.statu{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-evenly;

}
*/

@media (min-width: 640.1px)and (  max-width: 1000px){
    .Submovies_container{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (max-width: 640px ){
    .Submovies_container{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

}
