/*font setting*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&family=Noto+Serif+HK&family=Paytone+One&family=Roboto+Slab:wght@500;700&family=Roboto:wght@300;700&display=swap');
:root{

font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans TC', sans-serif;
--content-c: 'Noto Serif HK', serif;
font-family: 'Paytone One', sans-serif;
--content-1: 'Roboto', sans-serif;
--content-2: 'Roboto Slab', serif;
--title-1: 'Anton', sans-serif;
}
body{
margin: 0;
min-width: 50vw;  
min-height: auto;
}

.top-container{
width:100vw;
height: 40.461vh;
margin: 0;
display: flex;
position: relative;
align-items: center;
justify-content:center;
}
.top-container::before{
    content: "";
    background-image: url("../pics/IMG_4418.jpg");
    position: absolute;
    width:100vw;
    height:40.461vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;

}

.navbar{
    z-index: 100;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
       
}
.headertext{
   
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif
}
.imgdetail{
height: 76px;
width: 76px;
border-radius: 38px;
}
.line-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }


.l1{
    border-top:1px solid black;
    width: 5rem;
    margin-top : 6rem ;
    margin-left: 3rem;
    display: inline-block;
}
.l2{
    border-top:5rem solid black;
    width: 1px;
    margin : 1rem ;
    display: inline-block;
}
.center{
    border-top: 1px dashed black; 
    display: inline-block;
    width: 90vw;
    margin-top: 6rem;   
}
.l3{
    border-top:5rem solid black;
    width: 1px;
    margin : 1rem ;
    display: inline-block;
}
.l4{
    border-top:1px solid black;
    width: 5rem;
    margin-right : 3rem ;
    margin-top : 6rem ;
    display: inline-block;
}
h1{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.Sec-size{
text-align: center;
margin-left: 25vw;
margin-right: 25vw;
}
.p1{
    font-size: 1.5rem;
    font-family:var(--content-2);
    font-weight: bold;
}
.note{
text-align: center;
 
}
.alice{
font-family: var(--content-1);
text-align: center;
font-size: 12px;
}
h1{
    font-family: var(--title-1);
    font-size: 3rem;
    text-align: center;
}
.blogbox{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: space-evenly;
    row-gap : 45px ;
}
.innerblog{
 /*background-color: red;*/
 height: 300px;
 display: block;
 margin: 0;  
 padding: 0;
}

.innerblog .img{
    display: block;
    object-fit: contain;
    width: 200px;
    height: 250px;
     
}
.innerblog .img:hover{
 padding: 5px;
 cursor: pointer;
}
h2{
font-size: 18px;
text-align: center;
font-family: var(--content-c);
}
.discription{
padding: 0;
font-size: 12px;
}
h2 a{
    text-decoration: none;
    color:black;
    
}
h2 a:hover{
background-color: #FFCC99;
cursor: pointer;   
}




