/*font setting*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700&family=Noto+Serif+HK&family=Paytone+One&family=Roboto+Slab:wght@500;700&family=Roboto:wght@300;700&display=swap');
:root{

font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans TC', sans-serif;
--content-c: 'Noto Serif HK', serif;
font-family: 'Paytone One', sans-serif;
--content-1: 'Roboto', sans-serif;
--content-2: 'Roboto Slab', serif;
--title-1: 'Anton', sans-serif;
}

body{
margin:0;
padding: 0;
margin-left: 0;
margin-right: 0;
min-width: 50vw;  
min-height: auto;
overflow-x: hidden;
background-color: #F5E1CE;
min-width: 350px;

}
.progressline{
    position: fixed;
    top: 0;
    width: 0;
    height: 2px;
    background-color: rgb(63, 60, 55);
    z-index: 1000;
    border: #dfa581 0.25px solid;
}
.top-container{
width:100vw;
height: 22.5vh;
margin: 0;
display: flex;
position: relative;
align-items: center;
justify-content:center;
}
.top-container::before{
    content: "";
    background-image: url("../pics/IMG_4418.jpg");
    position: absolute;
    width:100vw;
    height:22.5vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;

}

.navbar{
    display: flex;
    z-index: 100;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    align-items: center;
    justify-content: center;
      
}

.imgdetail{
    background-color: red;
}
.headertext{
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s;
    background-color: none;
    margin-right: 3px;
  
}
.headertext:hover{
    opacity: 1;
    background-color: white;
}

@media (max-width: 640px) {
    .headertext {
        font-size: 18px;
       
    }
    .top-container::before{
        height: 11.25vh;
        
    }
    .top-container{
        height: 11.25vh;    
    }
    .navbar{
        display: flex;
        height: 11.25vh;
        z-index: 100;
        align-items: center;
        justify-content: center;
    } 
    .icondetail {
        display: none;   
    } 
       
    }
    
@media (max-width: 800px) {
    .outerdesign {
        grid-template-columns: 350px ;
    }
   
    
}



.imgdetail{
height: 76px;
width: 76px;
border-radius: 38px;
}
.line-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }


.l1{
    border-top:1px solid black;
    width: 5rem;
    margin-top : 6rem ;
    margin-left: 3rem;
    display: inline-block;
}
.l2{
    border-top:5rem solid black;
    width: 1px;
    margin : 1rem ;
    display: inline-block;
}
.smile, .homeicon, .movieicon, .storyicon {

    display: none;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    font-size: 2.25rem;
    rotate: 0;
    
    transition: width 0.1s, height 0.1s, transform 1s;
    
    
}

.icondetail {
    color: black;
    text-decoration: none;
    cursor: none;
}

.icondetail:hover {
    color: #bea184;
    cursor: pointer;
    font-size: 3rem;
    transform:  rotate(360deg) ;
    transition-duration: 1s;
}

.center{
    border-top: 1px dashed black; 
    display: inline-block;
    width: 90vw;
    margin-top: 6rem;   
}
.l3{
    border-top:5rem solid black;
    width: 1px;
    margin : 1rem ;
    display: inline-block;
}
.l4{
    border-top:1px solid black;
    width: 5rem;
    margin-right : 3rem ;
    margin-top : 6rem ;
    display: inline-block;
}
h1{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.p1{
    font-size: 1.5rem;
    font-family:var(--content-2);
    font-weight: bold;
    text-align: left;
}
.note{
text-align: center;

}
.alice{
font-family: var(--content-1);
text-align: center;
font-size: 12px;
}
h1{
    font-family: var(--title-1);
    font-size: 3rem;
    text-align: center;
}
.blogbox{
    width: 100vw;
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    justify-content: space-evenly;
    row-gap : 100px ;       /* the blogbox is the big container and change the innerblog to the grid container*/ 
}
.innerblog{
 /*background-color: red;*/
 height: 300px;
display:flex;
flex-direction: column;
align-items: center;
 margin: 0;  
 padding: 0;    /* grid container */
}

@media (max-width: 800px) {
    .blogbox {
        grid-template-columns: 225px 225px;
        align-items: center;
    }
    
}
@media (max-width: 640px) {
    .blogbox {
        grid-template-columns: 225px;
        align-items: center;
    }
}


.innerblog img{
    display: block;
    object-fit: cover;
    width: 225px;
    height: 300px;
    border: #bea184 1px solid;
    border-radius: 0.5rem;  


}
.innerblog .iimg:hover{
 padding: 5px;
 cursor: pointer;
}
h2{
font-size: 18px;
font-family: var(--content-c);
}
.discription{
padding: 0;
font-size: 12px;
}
h2 a{
    display: block;
    text-decoration: none;
    color:black;
    
}
h2 a:hover{
background-color: #FFCC99;
cursor: pointer;   
}

.contentcontroller{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    text-align: center;
    align-items: center;
}
.contentcontroller> img {
    display: block;
    width: 500px;
    height: 300px;
    object-fit: fill;
}

.contacts{
    position: absolute;
    display: flex;
    flex-direction: row;
    width:fit-content;
    height: fit-content; 
    unicode-bidi: isolate; 
}
.contact{
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 25px;
    color: black;
}
.contact:hover{
    color: blue;
    cursor: pointer;
    padding: 1px;
    border: blue 1px solid;
    border-radius: 3px;
}


