
.outerdesign{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: space-evenly;
    row-gap: 2rem;
    height: auto;
    width: auto;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 800px) {
    .outerdesign {
        grid-template-columns: 350px ;
    }
    
}

.outerbox{
    width: 350px;
    height: 450px;
    background-color:#F5E1CE;
    border: 3px solid black;
    display: inline-block;
    box-shadow: 5px 10px #888888;
}

.uppic{
width: 350px;
height: 200px;
background-color: black;

}
.inneruppic{
  
    width: 350px;
    height: 200px;
       
}
.outerbox{
    opacity: 0.8;
    transition: opacity 0.75s;
}
.outerbox:hover{
    opacity: 1;
    cursor: pointer;
}

.belowcontent{
    opacity: 1;
    width: 310px ;
    height: 200px;
    margin-top:1rem ;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #F5E1CE;
    
    
}


.mini-statu{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    border: none;
    border-radius: 3px;
    display: block;
    height: fit-content;
    width: fit-content;
}
.mini-title{
display: block;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: black;
overflow-y: hidden;
}
.miantext{
    text-decoration: none;
    color: black;
    background-color:#F5E1CE;
    font-size: 16px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    transition: padding 1s color 0.5  background-color 1s;

}
.miantext:hover{
 padding: 5px;
 background-color:rgb(195, 187, 177);
 cursor: pointer;
 

} 

.progressline{
    position: fixed;
    top: 0;
    width: 0;
    height: 2px;
    background-color: rgb(63, 60, 55);
    z-index: 1000;
    border: #dfa581 0.25px solid;
}
.listbar{
    z-index: 10;
    position: absolute;
    top: 280px;
    left: 0rem;
    width: 30px;
}
.list{
    list-style-type: none;
    margin-bottom:0.25rem;
}
.linner{
    padding: 0rem;
    margin: 0;
    margin-left: 1rem;
    
}
.innerlist{
    height: auto;
    width: auto;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 2px;
    background-color: #eeceba;
    border-radius: 5px;
    transition: padding 1s color 0.5  background-color 1s;
    cursor: pointer;
}
.mini_type{
    font-size: 18px;
}
