body{
margin: 0;
min-width: 50vw;  
min-height: auto;
}

.top-container{
width:100vw;
height: 40.461vh;
margin: 0;
display: flex;
position: relative;
align-items: center;
justify-content:center;
}
.top-container::before{
    content: "";
    background-image: url("pics/IMG_4418.jpg");
    position: absolute;
    width:100vw;
    height:40.461vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;

}
/* .iconlist{
    background-image: url("pics/IMG_4418.jpg");
    opacity: 0.5;
} */
.navbar{
    z-index: 100;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
       
}
.headertext{
   
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif
}
img{
height: 76px;
width: 76px;
border-radius: 38px;
}
 hr{
    border: 1px dashed black; 
   
    margin : 5rem 10vw;
}
h1{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.Sec-size{
text-align: center;
margin-left: 25vw;
margin-right: 25vw;
}
.p1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
/*
.hr1{
    display: inline-block;
    width:5rem;
    margin-left:3rem ;
    margin-top: 6rem;
    border-top: solid 1.5px black;
}
.hr2{
    display: inline-block;
    width:10%;
    transform: rotate(90deg);
    border-top: solid 1.5px black;
    margin-top: 0;
    bottom: fixed;
}
.hr3{
    display: inline-block;
    width: 50px;
}
.hr4{
    display: inline-block;
    width: 50px;
}
.hr5{
    display: inline-block;
    width: 50px;
}*/
/* hr::before{
    content: "";
    height: 50px;
    width: 10px;
    border-right: solid 1px red;

    position: absolute;
    z-index: 10;
    
}*/
